/* Mobile First*/

.header-section {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(46, 255, 213); */
}

.header-section__title{
  padding-bottom: 10px;
  border-bottom: 3px solid #60a771;
}

.body-section {
  width: 100%;
  /* height: calc(100vh - 110px); */
  padding: 20px;
  /* border: 1px solid white; */
}

.cad-task {
  width: 100%;
  /* height: 120px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* border: 1px solid red; */
}

.cad-task__entry {
   width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: rgb(97, 97, 97)
}

.cad-task__entry::placeholder {
  color: #cecece;
}

.cad-task__btn-confirm {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #60a771;
  color: white;
  border-radius: 5px;
  border: 1px solid #60a771 ;
}

.cardlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
  /* border: 2px solid white; */
}

.cardtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 13px;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: #31364d;
  /* border: 1px solid red; */
}

.cardtask__icon-box {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
}

.cardlist__icon{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cardlist__icon:first-of-type {
  border: 1px solid #9bb8ed;
}


.cardlist__icon:last-of-type {
  border: 1px solid #d46e75;
}


.footer-section {
  width: 100%;
  height: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* border: 4px solid rgb(172, 16, 63); */
}

.footer-section__rigth-text{
  font-size: 12px;
}